{% extends "content_base.html" %}

{% block navbar %}
<div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index') }}">首页</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class=""><a href="{{ url_for('Search', keyword='') }}">搜索</a></li>
            <li class=""><a href="{{ url_for('SearchAuthor', authorName='') }}">作者</a></li>
            <li class="active"><a >作品</a></li>
          </ul>
        </div><!--/.nav-collapse -->
{% endblock %}

{% block head %}
    <div class="jumbotron">
      <div class="container">
        <div class="btn-group btn-group-sm" role="group" aria-label="...">
          {% if urls.get('PreviousChapterURL') %}
          <button type="button" class="btn btn-default"><a href="{{urls.get('PreviousChapterURL')}}">上一章</a></button>
          {% endif %}
          {% if urls.get('NextChapterURL') %}
          <button type="button" class="btn btn-default"><a href="{{urls.get('NextChapterURL')}}">下一章</a></button>
          {% endif %}
          {% if urls.get('EntireChapterURL') %}
          <button type="button" class="btn btn-default"><a href="{{urls.get('EntireChapterURL')}}">给爷看全文</a></button>
          {% endif %}
          {% if full %}
          <button type="button" class="btn btn-default"><a href="{{ rawurl }}">分章节阅读</a></button>
          {% endif %}
            <button type="button" class="btn btn-default"><a href="{{ url_for('SearchAuthor', authorName=articleDetail.author) }}">爷要看这个作者</a></button>
          <p><br /></p>
        </div>
        <ul class="list-group">
          {% for wrapper in articleDetail.wrapper %}
            <li class="list-group-item">{{ wrapper|safe }}</li>
          {% endfor %}

        </ul>
{% endblock %}


{% block result %}
<h2>{{ articleDetail.title }}</h2>
        <h4><br>作者：{{ articleDetail.author }}</h4>
        <h5><a href="{{ articleDetail.url }}">文章来源</a></h5>
        <div class="container">
          <h3>{{ articleDetail.chapterTitle }}<br></h3>
          <p><br />{{ articleDetail.content | safe }}<br /><br /></p>
        </div>
        <div class="btn-group btn-group-sm" role="group" aria-label="...">
          <button type="button" class="btn btn-default"><a href="#">回顶部</a></button>
          {% if urls.get('PreviousChapterURL') %}
          <button type="button" class="btn btn-default"><a href="{{urls.get('PreviousChapterURL')}}">上一章</a></button>
          {% endif %}
          {% if urls.get('NextChapterURL') %}
          <button type="button" class="btn btn-default"><a href="{{urls.get('NextChapterURL')}}">下一章</a></button>
          {% endif %}
          {% if urls.get('EntireChapterURL') %}
          <button type="button" class="btn btn-default"><a href="{{urls.get('EntireChapterURL')}}">给爷看全文</a></button>
          {% endif %}
          {% if full %}
          <button type="button" class="btn btn-default"><a href="{{ rawurl }}">分章节阅读</a></button>
          {% endif %}
        </div>
      </div>
    </div>
{% endblock %}

    <div class="foot">

      
    </div>
  </body>
</html>