<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>AO搜索</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-theme.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/cover.css') }}" rel="stylesheet">
    
    <style type="text/css">
    body { 
      padding-top:0px;
      /*background-color: #eee*/
    }



    </style>
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
<div class="site-wrapper">
  <a href="https://github.com/xulouzhe/ao3Search" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;width:149px; height:149px;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" class="attachment-full size-full" data-recalc-dims="1" alt="Fork me on GitHub"></a>
      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
            <h1 class="cover-heading" >AO3<br></h1>
            <form class="input-group" action="{{ url_for('search', keyword=keyword) }}" method="get" style=";text-align: center;">
              <input type="text" class="form-control" placeholder="请输入要查询的内容..." name="keyword" >
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit" >Go!</button>
              </span>
            </form><!-- /input-group -->

            <p class="lead"><br>I Disapprove of What You Say.</p>
            <p class="lead">But I Will Defend to the Death Your Right to Say It.</p>

          </div>

          <div class="mastfoot">
          </div>

        </div>

      </div>
    </div>
  </body>

</html>